## Lab 1: Data in Python

The data for this activity can be downloaded here (under "Data Sets"): https://www.statlearning.com/resources-python

As a first step, create a folder in this location called "data" and drop the Credit.csv file in that location.

If you open the ".gitignore" file, you'll notice that one of the entries is "data" so that your data files will not be shared on GitHub.

In [49]:
import pandas as pd
import numpy as np
Credit = pd.read_csv('data/Credit.csv') 
Credit

,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Region,Balance
0,14.891,3606,283,2,34,11,No,No,Yes,South,333
1,106.025,6645,483,3,82,15,Yes,Yes,Yes,West,903
2,104.593,7075,514,4,71,11,No,No,No,West,580
3,148.924,9504,681,3,36,11,Yes,No,No,West,964
4,55.882,4897,357,2,68,16,No,No,Yes,South,331
...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,No,No,Yes,South,560
396,13.364,3838,296,5,65,17,No,No,No,East,480
397,57.872,4171,321,5,67,12,Yes,No,Yes,South,138
398,37.728,2525,192,1,44,13,No,No,Yes,South,0
399,18.701,5524,415,5,64,7,Yes,No,No,West,966

### What are the feature names?

In [50]:
#Income, Limit, Rating, Cards, Age, Education, Own, Student, Married, Region, Balance

### What are the data types of the feature values (i.e., numeric, categorical)

In [51]:
#Income, Limit, Rating, Cards, Age, Education, Balance - Quantitative/numeric
#wn, Student, Married, Region - Categorical

### Find the mean, median, and mode of the feature "Age."

In [52]:
# mean
Credit = pd.read_csv('data/Credit.csv')
mean = Credit['Age'].mean()
print(mean)

55.6675

In [53]:
# median

median = Credit['Age'].median()
print(median)

56.0

In [54]:
# mode
Credit = pd.read_csv('data/Credit.csv')
mode = Credit['Age'].mode()
print(mode)

0    44
1    66
Name: Age, dtype: int64

### Create a subset of Credit that only contains the columns Age, Region, and Income. Call it "Subset."

In [55]:
Subset = Credit[['Age', 'Region', 'Income']]
print(Subset.head(len(Credit)))

     Age Region   Income
0     34  South   14.891
1     82   West  106.025
2     71   West  104.593
3     36   West  148.924
4     68  South   55.882
..   ...    ...      ...
395   32  South   12.096
396   65   East   13.364
397   67  South   57.872
398   44  South   37.728
399   64   West   18.701

[400 rows x 3 columns]

### From this subset, create two partitions: 
- One that contains records for Ages below 50, and one that contains Ages 50+
- Call them "Younger" and "Older"

In [56]:
younger = Subset[Subset['Age']<50]
print(younger)

     Age Region   Income
0     34  South   14.891
3     36   West  148.924
6     37   East   20.996
9     41   East   71.061
10    30  South   63.095
..   ...    ...      ...
391   43  South   73.327
392   24   West   25.974
394   40  South   49.794
395   32  South   12.096
398   44  South   37.728

[161 rows x 3 columns]

In [57]:
older = Subset[Subset['Age']>=50]
print(older)

     Age Region   Income
1     82   West  106.025
2     71   West  104.593
4     68  South   55.882
5     77  South   80.180
7     87   West   71.408
..   ...    ...      ...
390   81   West  135.118
393   65   East   17.316
396   65   East   13.364
397   67  South   57.872
399   64   West   18.701

[239 rows x 3 columns]

### Use these partitions to compare the mean and median Income for each age group (less than 50 vs. 50+)

In [58]:
# mean of younger
#younger = Subset[Subset['Age'] <= 50]
mean_younger = younger['Income'].mean()
print(mean_younger)

41.65203726708074

In [59]:
# mean of older
#older = Subset[Subset['Age'] > 50]
mean_older = older['Income'].mean()
print(mean_older)

47.6216569037657

In [60]:
# median of younger
#Younger = Subset[Subset['Age']<50]
print(Younger['Age'].median())

40.0

In [ ]:
# median of older
#Older = Subset[Subset['Age']>=50]
print(Older['Age'].median())

68.0

### What does the difference between mean and median suggest about the distribution of income?

Its basically tells us that the data is not skewed and is almost symmetric

### What are the possible values for Region?

In [62]:
#There are 4 possible values: North, South, East, West

### Use the value_counts method to build a frequency table for the possible values of Region.

In [63]:
freq_table = Subset['Region'].value_counts()
print(freq_table)

Region
South    199
West     102
East      99
Name: count, dtype: int64

### Compare the average income for students vs. non-students.

In [64]:
Subset2 = Credit[['Student', 'Income']]
print(Subset2.head(len(Credit)))

    Student   Income
0        No   14.891
1       Yes  106.025
2        No  104.593
3        No  148.924
4        No   55.882
..      ...      ...
395      No   12.096
396      No   13.364
397      No   57.872
398      No   37.728
399      No   18.701

[400 rows x 2 columns]

In [65]:
is_student = Subset2[Subset2['Student'] == "Yes"]
avg_student_income = is_student['Income'].mean()
print(avg_student_income)

47.29205

In [66]:
is_not_student = Subset2[Subset2['Student'] == "No"]
avg_income = is_not_student['Income'].mean()
print(avg_income)

44.988533333333336

Often, banks will use a variable called _utilization_ to assess credit risk.
Utilization is the ratio of balance to limit (i.e., what % of the credit limit is being used?)
### Add a feature to the Credit dataset to measure utilization

In [67]:
Credit['Utilization'] = Credit['Balance']/Credit['Limit']
print(Credit['Utilization'])

0      0.092346
1      0.135892
2      0.081979
3      0.101431
4      0.067592
         ...
395    0.136585
396    0.125065
397    0.033086
398    0.000000
399    0.174873
Name: Utilization, Length: 400, dtype: float64

### What is the maximum utilization value in this set?

In [68]:
max_percent = Credit['Utilization'].max()
print(max_percent)

0.27693008426326576